
[data-semana]::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background:var(--secondary-color);
    border-radius: 50%;
    margin-left: 8px;
    border:2px solid var(--text-color);
}
[data-semana].aberto::after{
    background: var(--accent-color) ;
}